body { font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url('../img/bg-imag-pelada.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding-bottom: 30rem;

  }



    
